<header class="bg-lime-600 py-3">
  <div class="max-w-4xl mx-auto flex justify-between">
    <h1 class="text-lg text-center font-bold text-white uppercase">
      Contador de Calorias
    </h1>

    <button
      (click)="store.reset()"
      [disabled]="!store.activities().length"
      class="bg-gray-800 hover:bg-gray-900 p-2 font-bold uppercase text-white cursor-pointer text-sm rounded-lg disabled:opacity-10">
      Reiniciar
    </button>
  </div>
</header>

<section class="bg-lime-500 py-20 px-5">
  <div class="max-w-4xl mx-auto ">
    <app-form/>
  </div>
</section>

<section class="bg-gray-800 py-10">
  <div class="max-w-4xl mx-auto ">
    <app-calorie-tracker/>
  </div>
</section>

<section class="p-10 mx-auto max-w-4xl">
  <app-activity-list/>
</section>
